- name: install loginsight from nexus
  apt:
    deb: http://nexus.int.sentania.net:8081/repository/labassets/loginsight/4.5/debian/vmware-log-insight-agent_4.5.0-5626690_all_10.100.100.80.deb
    state: present
